<web-app>
    <servlet>
        <servlet-name>ReservaServlet</servlet-name>
        <servlet-class>com.bolera.servlets.ReservaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservaServlet</servlet-name>
        <url-pattern>/ReservaServlet</url-pattern>
    </servlet-mapping>
</web-app>
